#######################################################################
#                 copyright 2005, BP America Inc.                     #
#                        All Rights Reserved                          #
#######################################################################

File: $DDSROOT/README.config  

 NOTE: DDS is already setup for many Sun, SGI and Linux systems and
       compilers.  We're trying to make DDS more adaptive to newer
       configurations.  The new gfortran (4.1.1) compilers are now
       usuable alternatives to other compilers.  We typically use the 
       usual "f77" compilers that come with Sun's and Sgi's.  On most
       Linux machines we use PGI and/or Intel compilers.  The default 
       information comes from the local machine via the script HostDir
       and the default compiler information comes via the script 
       HostComp, both located in the src/lib/host directory. The Make 
       structure for DDS applications is no longer coupled to FreeUSP.

       To build and install the DDS libraries see README.

HOW TO CONFIGURE THE DDS LIBRARY "MAKE" SCHEME ON A LOCAL AREA NETWORK:

 1) Change to the "src/lib/host" directory 

 2) Execute "HostDir -n" to get an abbreviated architecture name.
    (eg. sun4u5_8)

 3) Modify the make files to include this new architecture.
    (eg. "grep sun4u5_8 M*" to find all the places that need
    to have the new architecture case added with corresponding
    changes.)

 4) *** for Remote makes only ***

    i)  Edit "MakeSrcMacro" file to recognize the new server.
        (add "SERVER-<arch>= <server>")in MakeSrcMacro.

    ii) Edit "MakeSrcRules" file to build on the new server.
        (add <arch> to prerequisite for "world"; add rule for <arch>)
         
 5) Modify, if needed, HostDir for your system.

 6) Modify, if needed, HostComp for you compiler.  

 7) chost.h is now generated automatically for each architecture by
    makehost.c and chost_com.h.  So it is unlikely that you will
    have to get into there except if you run across some new
    basic architecture.  cdefinec, ctypes.c and testhost.c are 
    test programs that can help in determining local platform 
    specific values.  They can be run by "gmake test" from the
    host directory.

 8) getargf.c is used to get the command line arguments and envrionment
    variables for Fortran.  These are very system & compiler dependent.
    So that could need some tweeking on new, future machines. 

 9) Modify, if needed, MakeVariables for changes needed in building
    applications.  You may have to make modifications, for example, for
    FFT. These make files are closely couple to the HostDir and HostComp
    scripts for fetching directory names and compiler options.

10) Modify, if needed, HostMP for your system.  This returns machine
    dependent information for OpenMP and MPI so the make files will
    know if and how to build for parallelization. Turn off make MPI
    codes by setting MPIRun="" in HostMP.  Some MPI programs cannot
    be built on platforms without mpi; others are able to adapt to
    whether mpi is available or not.

11) If you ever run acrocss data types that don't exist, run "grep -i ibm *" 
    in each library directory to get an idea how to add others.  In
    the past DDS had support for Cray and Vax data types but are cleared
    out now to keep DDS cleaned up from outdated clutter.  Also, general
    support for Cray and CM5 machines have also be clear out.


See README.makeexamples for more information on using this make scheme
and README.makescheme for the reasoning behind it.
